<legend>Team Information</legend>

<dl>
  <dt>Name:</dt>
  <dd><%= @team.name %></dd>
  <dt>Manager:</dt>
  <dd><%= @team.manager.nil? ? '' : @team.manager.name %></dd>
  <dt>External:</dt>
  <dd><%= @team.external_id %></dd>
</dl>

<div class="small button-group">
  <%= link_to edit_team_path(@team), class: 'button secondary' do %>
    <i class="fi-pencil"></i> Edit
  <% end -%>
  <%= link_to teams_path, class: 'button secondary' do %>
    <i class="fi-arrow-left"></i> Back
  <% end -%>
</div>

<% content_for :title do -%>
  Team <%= @team.name %>
<% end -%>

<% content_for :equal_right do -%>
  <fieldset class='fieldset'>
    <legend>Team Members</legend>
    <ul>
    <% @team.users.order(:firstname).each do |user| -%>
      <li><%= user.name %></li>
    <% end -%>
    </ul>
  </fieldset>
<% end -%>
