<legend>Leave Request</legend>

<dl>
  <dt>User:</dt>
  <dd><%= @leave_request.user_id? ? @leave_request.user.name : '' %></dd>
  <dt>Leave Type:</dt>
  <dd><%= @leave_request.leave_type_id? ? @leave_request.leave_type.name : '' %></dd>
  <dt>Start Date:</dt>
  <dd><%= @leave_request.start_date %></dd>
  <dt>End Date:</dt>
  <dd><%= @leave_request.end_date %></dd>
  <dt>Status:</dt>
  <dd><%= @leave_request.status %></dd>
  <dt>Approved by:</dt>
  <dd><%= @leave_request.approved_by_id %></dd>
  <dt>Nb Hours:</dt>
  <dd><%= @leave_request.nb_hours %></dd>
  <dt>Description:</dt>
  <dd><%= @leave_request.description %></dd>
</dl>

<% if @session_user.hr? or @leave_request.start_date > Time::now -%>
  <div class='button-group small'>
    <%= link_to edit_user_leave_request_path(user_id: @leave_request.user_id, id: @leave_request.id), class: 'button secondary' do %>
      <i class='fi-pencil'></i> Edit
    <% end -%>
    <%= link_to user_path(@leave_request.user_id), class: 'button secondary' do %>
      <i class='fi-arrow-left'></i> Back
    <% end -%>
  </div>
<% end -%>
