
<legend>Users</legend>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Login</th>
      <th>Email</th>
      <th>External</th>
      <th>Role</th>
      <th>Site</th>
      <th>Manager</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.login %></td>
        <td><%= user.email %></td>
        <td><%= user.external_id %></td>
        <td><%= user.role.to_s.capitalize %></td>
        <td><%= user.site.nil? ? '' : user.site.name %></td>
        <td><%= user.manager.nil? ? '' : user.manager.fullname %></td>
        <td class='action'><%= link_to '', user, class: 'fi-info', title: 'Info' %></td>
        <td class='action'><%= link_to '', edit_user_path(user), class: 'fi-pencil', title: 'Edit' %></td>
        <td class='action'><%= link_to '', user, method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'fi-trash', title: 'Delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class='small button-group'>
  <%= link_to 'New User', new_user_path, class: 'button' %>
</div>
