<legend>User: <%= @user.name %></legend>

<dl>
  <dt>Firstname:</dt>
  <dd><%= @user.firstname %></dd>
  <dt>Lastname:</dt>
  <dd><%= @user.lastname %></dd>
  <dt>Login:</dt>
  <dd><%= @user.login %></dd>
  <dt>Email:</dt>
  <dd><%= @user.email %></dd>
  <dt>External:</dt>
  <dd><%= @user.external_id %></dd>
  <dt>Site:</dt>
  <dd><%= @user.site.nil? ? '' : @user.site.name %></dd>
  <dt>Manager:</dt>
  <dd><%= @user.manager.nil? ? '' : @user.manager.fullname %></dd>
</dl>

<div class="small button-group">
  <%= link_to edit_user_path(@user), class: 'button' do -%>
    <i class='fi-pencil'></i> Edit
  <% end -%>
  <%= link_to users_path, class: 'button' do -%>
    <i class='fi-arrow-left'></i> Back
  <% end -%>
</div>


<!-- extra-content -->
<% content_for :title do -%>
  User: <%= @user.name %>
<% end -%>

<% content_for :right do -%>
  <fieldset class="fieldset">
    <legend>Summary</legend>
  </fieldset>
<% end -%>
