<legend>User: <%= @user.name %></legend>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Login</th>
      <th>Email</th>
      <th>External ID</th>
      <th>Site</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.login %></td>
      <td><%= @user.email %></td>
      <td><%= @user.external_id %></td>
      <td><%= @user.site_id? ? @user.site.name : '' %></td>
      <td><%= @user.team_id? ? @user.team.name : '' %></td>
    </tr>
  </tbody>
</table>

<div class="button-group small">
  <% if @session_user.hr? -%>
    <%= link_to edit_user_path(@user), class: 'secondary button' do -%>
      <i class='fi-pencil'></i> Edit User
    <% end -%>
    <%= link_to users_path, class: 'secondary button' do -%>
      <i class='fi-arrow-left'></i> Users list
    <% end -%>
  <% end -%>
</div>

<!-- List of Leave requests -->
<%= render partial: 'leave_requests/list', leave_requests: @leave_requests %>

<div class="button-group small">
  <%= link_to new_user_leave_request_path(@user), class: 'button' do -%>
    <i class='fi-plus'></i> Create a Request
  <% end -%>
</div>

<!-- If manager display the requests waiting for approval -->
<% if @session_user.manager? and !@team.nil? -%>
  <% content_for :other_info do -%>
    <%= render partial: 'leave_requests/list', leave_requests: @team_leave_requests %>
  <% end -%>
<% end -%>

<!-- extra-content -->
<% content_for :title do -%>
  User: <%= @user.name %>
<% end -%>

<% content_for :right do -%>
  <%= render partial: 'users/summary' %>
<% end -%>
