<%= form_for(site) do |f| %>
  <% if site.errors.any? %>
    <div class="alert callout">
      <h5><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h5>

      <ul>
        <% site.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id='fields'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='button-group'>
    <%= f.submit class: 'primary small button' do %>
      <i class='fi-save'></i> Save
    <% end -%>
    <% if !site.new_record? -%>
      <%= link_to site, class: 'secondary button' do -%>
        <i class='fi-eye'></i> Show
      <% end -%>
    <% end -%>
    <%= link_to sites_path, class: 'secondary button' do -%>
      <i class='fi-arrow-left'></i> Back
    <% end -%>
  </div>
<% end %>
